{% extends 'base.html.twig' %}

{% block title %}UmanIT - Historique{% endblock %}

{% block body %}

<main class="container w-50">
    <section>
        <h1 class="mt-5 mb-5">Historique</h1>

        <!-- Barre de recherche -->

        <div class="form-outline mb-4">
            <input type="search" id="research" name="research" class="form-control" placeholder="Saisissez votre recherche"
            aria-label="Search" />
        </div>
        
        <!-- Tableau des formulaires -->
        <table class="table table-striped">

            <thead>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Type de formulaire</th>
                <th>Date</th>
                <th></th>
            </thead>

            <tbody>
                <tr>
                    <td>MIEUZE</td>
                    <td>Virginie</td>
                    <td>Progression</td>
                    <td>JJ/MM/AAAA</td>

                    <!-- Bouton Consulter & Télécharger -->
                    <td>
                        <a href="#" class="btn">Consulter</a>
                        <a href="#" class="btn">Télécharger</a>
                    </td>
                </tr>

                <tr>
                    <td>DURAND-DAUBIN</td>
                    <td>Thomas</td>
                    <td>Professionnel</td>
                    <td>JJ/MM/AAAA</td>

                    <!-- Bouton Consulter & Télécharger -->
                    <td>
                        <a href="#" class="btn">Consulter</a>
                        <a href="#" class="btn">Télécharger</a>
                    </td>
                </tr>

                <tr>
                    <td>LOURENCO</td>
                    <td>Gabriel</td>
                    <td>Progression</td>
                    <td>JJ/MM/AAAA</td>

                    <!-- Bouton Consulter & Télécharger -->
                    <td>
                        <a href="#" class="btn">Consulter</a>
                        <a href="#" class="btn">Télécharger</a>
                    </td>
                </tr>
            </tbody>

        </table>

    </section>
</main>

{% endblock %}
