{% extends 'base.html.twig' %}

{% block title %}UmanIT - Ouvrir une session{% endblock %}

{% block body %}
    <main class="container w-75">
        <section>

    <h1 class="mt-5 mb-4">Ouvrir une session</h1>

    {{ include('session/_form.html.twig') }}

        </section>
    </main>
{% endblock %}
