{% extends 'base.html.twig' %}

{% block title %}UmanIT - Ajout d'un utilisateur{% endblock %}

{% block body %}

    <main class="container w-75">
        <section>

    <h1 class="mt-5 mb-4">Ajout d'un utilisateur</h1>

        {{ include('user/_form.html.twig') }}
        <a href="{{ path('user_index') }}" class="btn">Annuler</a>

        </section>
    </main>
    
{% endblock %}