/******************************************************************
                            FONTS
******************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/******************************************************************
                            GLOBAL
******************************************************************/

* {
    font-family: 'Open Sans', Verdana, sans-serif;
}

/******************************************************************
                            HEADER
******************************************************************/

nav img {
    vertical-align: middle;
}

/******************************************************************
                            MAIN
******************************************************************/

main a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px;
}

/******************************************************************
                            FOOTER
******************************************************************/